.speedTyper {
	border-style: double;
	display: inline-block;
	padding: 10px;
}

.speedTyperWords {
	margin: 5px;
	background: aliceblue;
}

.currentWordContainer {
	font-size: x-large;
}

.speedTyperWrongWord {
	color: red;
}

.speedTyperRightWord {
	color: green;
}

span.correctLetter {
	color:green;
}

span.incorrectLetter {
	color:red;
}